<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>
  <mat-card-content>
    <section>
      <p>Selecione os campos que você precisa:</p>
      <mat-radio-group [(ngModel)] ="fieldName">
        <mat-radio-button value="button">
          Button
        </mat-radio-button>
        <mat-radio-button value="checkBox">
          Check Box
        </mat-radio-button>
        <mat-radio-button value="progressBar">
          progressBar
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <br><br>

    <section [ngSwitch] = fieldName>
      <button *ngSwitchCase="'button'" mat-raised-button color="warn">Button</button>
      <mat-checkbox *ngSwitchCase="'checkBox'">CheckBox</mat-checkbox>
      <mat-progress-bar *ngSwitchCase="'progressBar'" color="warn" mode="indeterminate">Pto</mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
