.mat-radio-group-inline {
  display: inline-flex;
  flex-direction: column;
  margin-top: 100 ;
}

mat-radio-button{
  margin-top: 5px;
}

mat-card{
  margin: 40px;
}

mat-card-footer{
  padding-left: 20px;
}
